<%inherit file="/lib/base.tmpl"/>

<%def name="title()">
  ${parent.title()} - manual
</%def>

% if not model.fragment is None:
  ${model.fragment}
% else:
  <h1>Documentation Error</h1>
  % if model.error:
    ${model.error | h}
  % else:
    Sorry, but that page doesn't seem to exist
  % endif
% endif
