BODY {
  margin: 0px;
  font-family: sans-serif;
}

A {

}

CODE {
  display: block;
  white-space: pre;
  border: 1px solid #4a4a4a;
  background: #dddddd;
  margin: .5em;
  width: 90%;
}

H1, H2, H3, H4 {
  font-weight: bold;
  margin: 1em 0 .5em 0;
}

H1 {
  font-size: 1.5em;
}

H2 {
  font-size: 1.2em;
}

P {
  margin-bottom: 2em;
}

TABLE * {
  border: 1px solid #dddddd;
  padding: 4px;
}

TABLE TH {
  border: 1px solid #4a4a4a;
  background-color: #dddddd;
}

OL {
  margin-left: 1em;
}

LI {
  list-style: decimal inside;
}

#banner, #banner A, #banner A:visited {
  float: left;
  color: silver;
  margin: 3px 0 0 5px;
  font-weight: bold;
  text-decoration: none;
}

#body {
  padding: 20px;
  padding-top: 0;
}

#toolbar {
	list-style: none;
	background: #2E3436;
	text-align: right;
	padding: 0 1ex;
	margin: 0;
	font-size: 70%;
}

#toolbar li {
	display: inline;
	padding-top: 10px;
	padding-bottom: 8px;
	margin-left: 0px;
	margin-top: 0px;
}

#toolbar li a {
	font-weight: bold;
	color: #FFFFFF;
	margin: 0 2ex;
	text-decoration: none;
	line-height: 30px;
}

#toolbar li a:hover {
	text-decoration: underline;
}

.comment {
  font-style: italic;
  color: green;
}
