<%inherit file="/lib/base.tmpl"/>

<%def name="title()">
  ${parent.title()} - Getting Started
</%def>

<h1>Chula - Getting Started</h1>
Welcome to Chula.  Let's go thru a few things before you get started
building your first app.
