<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css"
          rel="stylesheet" type="text/css" />
    <link href="/lib/style.css" rel="stylesheet" type="text/css" />
    <link href="/lib/reST.css" rel="stylesheet" type="text/css" />
    <title>${self.title()}</title>
  </head>

  <body>
    <div id="page">
      <div id="banner">
        <a href="http://www.rockfloat.com/projects/chula">
          Chula v${model.version}
        </a>
      </div>
      <ul id="toolbar">
        <li><a href="/manual?doc=getting_started/index">Getting Started</a></li>
        <li><a href="/env">Environment</a></li>
        <li><a href="/manual?doc=index">Manual</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    <div id="body">
      ${self.body()}
    </div>
    ${self.add_js()}
  </body>
</html>

## Overloadable functions
<%def name="title()">
  Chula Example App
</%def>

<%def name="add_js()">
  <script type="text/javascript" src="/lib/common.js"></script>
  <script type="text/javascript" src="/lib/github.js"></script>
</%def>

